{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Learning</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <pre>
        <h1>🏠 Home</h1>
Hey there, I'm Jainam Doshi 👋
Welcome to my digital playground!


I'm an aspiring tech innovator, future AI engineer (and lowkey Tony Stark fanboy 🤖), with a strong passion for programming, machine learning, and building cool things that can shape the future. This site is a glimpse into my journey — from experimenting with AI chatbots and fine-tuning LLMs, to creating sleek web apps with Tailwind CSS.


Whether you're here to check out my projects, connect with me, or just explore some interesting tech ideas — you’re in the right place.


Feel free to look around. I’m always building, learning, and leveling up. 🚀
Let's innovate, one line of code at a time.
    </pre>
</body>
</html>